body {
    background: url("back_mob.jpg");
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:0px 0px;
    background-color: black;
    cursor: default;
}
.text-logo {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 60px;
    cursor: pointer;
}
.text-nav-main {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}
.text-nav {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
.mytab {
    background-color: white;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    height: auto;
    font-size: 18px;
    color: black;
    opacity: 0.75;
    cursor: help;
}
.text-logo:hover span {
    color: green;
}
.container-fluid table {
    background-color: white;
    opacity: 0.9;
    border-radius: 0px 0px 10px 10px;
}
.dropdown .dropdown {
    padding: 0;
}
.dropdown li a {
    padding-left: 10px;
    padding-right: 0;
}
.dropdown .dropdown:hover .dropdown-menu {
    display:block;
    left: 100%;
    top: calc(0% - 5px);
}
.badge-success {
    background-color: green;
    opacity: 0.8;
}
.badge-success:hover {
    opacity: 1.0;
}
.badge-info {
    background-color: #338BFF;
    opacity: 0.8;
}
.badge-info:hover {
    opacity: 1.0;
}
.text-modal {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-align: center;
}
.task {
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    opacity: 0.8;
}
.carousel {
    width: 80%; 
    margin: 0 auto;
}
@media (max-width:1200px) {
    .carousel {
        width:100%;
        height: auto;
    }
}
@media (max-width:600px) {
    .text-logo {
        font-size: 50px;
    }
}
@media (max-width:359px) {
    body {
        background-size: auto 100%;
    }
    .carousel {
        width:100%;
        height: auto;
    }
    .text-logo {
        font-size: 45px;
    }
}