body {
    background: url("back3.jpg");
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:0px 0px;
    background-color: black;
    cursor: default;
}
.text-logo {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 60px;
    cursor: pointer;
}
.text-nav-main {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.text-nav {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.mytab {
    background-color: white;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    height: auto;
    font-size: 18px;
    color: black;
    opacity: 0.75;
    cursor: help;
}
.text-logo:hover span {
    color: green;
}
.container-fluid table {
    background-color: white;
    opacity: 0.9;
    border-radius: 0px 0px 10px 10px;
}
.badge-success {
    background-color: green;
    opacity: 0.8;
}
.badge-success:hover {
    opacity: 1.0;
}
.badge-info {
    background-color: #338BFF;
    opacity: 0.8;
}
.badge-info:hover {
    opacity: 1.0;
}
.text-modal {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: black;
    text-align: center;
}